<template name="site_comments">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{#if currentUser}}
				<a class="btn btn-default js-toggle-comment-form" href="#">
		  			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		  			Add comment
				</a>
			{{else}}
				Comments
			{{/if}}
		</div>
		{{#if currentUser}}
			<div id="comment_form" class="panel-body hidden_div">
				<form>
					<div class="input-group">
						<textarea
							id="commentTextArea"
							class="js-comment-textarea form-control custom-control"
							placeholder="Enter a comment"
							rows="3"
							style="resize:none"></textarea>
							<span class="js-comment-submit-button input-group-addon btn btn-default disabled">Submit</span>
					</div>
				</form>
			</div>
		{{/if}}
		<ul class="list-group">
			{{#each comments}}
				<li class="list-group-item">{{> comment_item}}</li>
			{{/each}}
		</ul>
	</div>
</template>
