<head>
  <title>siteace</title>
</head>

<body>
</body>

<template name="siteLayout">
	{{> navbar}}
	<div class="container">
		{{> yield}}
	</div>	
</template>

<template name="mainPage">
	{{#unless currentUser}}
		<h4 class="alert alert-info">
			{{#if isActivePath '/'}}
				Sign in to add and vote for sites
			{{else}}
				Sign in to get personalzied recommendations
			{{/if}}
		</h4>
	{{/unless}}
	<div class="panel panel-default">
		{{#if isActivePath '/'}}
			{{> website_form}}
		{{else}}
			<div class="panel-heading">
				Recommended for you
				{{#if currentUser}}
					<br /><sub>Recommendations are based on other users who have voted for sites similar to sites you've voted on</sub>
				{{/if}}
			</div>
		{{/if}}
		{{> website_list}}
	</div>
</template>

<template name="siteDetails">
	{{#if this}}
		{{#unless currentUser}}
			<h4 class="alert alert-info">Sign in to add comments</h4>
		{{/unless}}
		<div class="well well-lg">
			<h1><a href="{{url}}" target="_blank">{{title}}</a></h1>
			<p>{{description}}</p>
		</div>
		{{> site_comments}}
	{{else}}
		<div class="jumbotron">
			<h1>404: Site not found</h1>
		</div>
	{{/if}}
</template>
