<template name="website_form">
	<div class="panel-heading">
		<div class="row">
			<div class="col-lg-3"> 
				{{#if currentUser}}
					<a class="btn btn-default js-toggle-website-form" href="#">
				  		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				  		Add site
					</a>
				{{else}}
					Sites
				{{/if}}
			</div>
			<div class="col-lg-5"></div>
			<div class="col-lg-4">
				<form class="js-search-form">
					<div class="input-group">
						<input type="text" class="form-control js-search-text" id="searchterm" value="{{searchTerm}}" placeholder="Search" autocomplete="off">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Go!</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{#if currentUser}}
		<div id="website_form" class="panel-body hidden_div">
			<form class="js-save-website-form">
			  <div class="form-group">
			    <label for="url">Site address</label>
			    <div class="input-group">
			    	<input type="text" class="form-control" id="url" placeholder="http://www.mysite.com">
					<span class="input-group-btn">
						<button class="btn btn-primary js-get-metadata-button" type="button" disabled="disabled">Get metadata!</button>
					</span>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="title">Title</label>
			    <input type="text" class="form-control" id="title" placeholder="Mysite">
			  </div>
			    <div class="form-group">
			    <label for="description">Description</label>
			    <input type="text" class="form-control" id="description" placeholder="I found this site really useful for ...">
			  </div>

			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	{{/if}}
</template> 